body {
  background: lavender;
}

h1 {
  font-size: 4rem;
  text-align: center;
  font-family: 'Amatic SC', san-serif;
}

#drum-pads {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#drum-pads div {
  width: 40%;
  border-radius: 100%;
  background: #999999;
  margin: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#drum-pads div:hover {
  background: white;
  cursor: pointer;
}

